:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-light: rgba(255, 255, 255, 0.6);
    --color-white: #fff;
    --color-red: rgb(240, 51, 51);

    /*screen size */
    --container-width-lg: 75%;
    /* desktop */
    --container-width-md: 86%;
    /* tablet */
    --container-width-sm: 90%;
    /*mobile */

    --transition: all 400ms ease;
}

.services__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    text-align: center;
}

.service{
    background-color: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
    max-width: 500px;
    margin: 0 auto;
}

.service:hover{
    background-color: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.service__head{
    background-color: var(--color-primary);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.service__head >h3:hover{
    color: var(--color-white);
}

.service__head h3{
    color: var(--color-bg);
    font-size: 1rem;
}

.service__list{
    padding: 1rem;
}

.service__list p{
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
}

.service__icon{
    color: var(--color-bg);
    margin-top: 2px;
    font-size: 30px;
    transition: var(--transition);
}

.service__icon:hover{
    color: var(--color-white);
}


/*
====================
Media queries (medium devices)
====================
*/

@media screen and (max-width:1024px) {
  .services__container{
      grid-template-columns: repeat(2,1fr);
      gap: 2rem;
  }
  .service{
      height: auto;
  }
}

.tech-stack{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:1rem;
    margin: 10px;
}

.tech-item{
    display: flex;
    align-items: center;
    gap: .35rem;

    padding: .35rem .7rem;

    border: 1px solid rgba(77, 169, 255, .35);
    border-radius: 8px;

    background: #151824;
    color: white;

    font-size: .72rem;
    font-weight: 500;

    transition: .25s ease;
}

.tech-item svg{
    font-size: .85rem;
}

/* Cores dos ícones */

.tech-item:nth-child(1) svg{
    color:#E34F26;
}

.tech-item:nth-child(2) svg{
    color:#1572B6;
}

.tech-item:nth-child(3) svg{
    color:#F7DF1E;
}

.tech-item:nth-child(4) svg{
    color:#61DAFB;
}

.tech-item:nth-child(5) svg{
    color:#DD0031;
}

.tech-item:hover{

    transform:translateY(-2px);

    border-color:var(--color-primary);

    box-shadow:0 0 12px rgba(77,169,255,.25);

}


/*
====================
Media queries (small devices)
====================
*/

@media screen and (max-width:600px) {
   .services__container{
       grid-template-columns: 1fr;
       gap: 1.5rem;
   }
}