:root {
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-light: rgba(255, 255, 255, 0.6);
    --color-white: #fff;
    --color-red: rgb(240, 51, 51);

    /*screen size */
    --container-width-lg: 75%;
    /* desktop */
    --container-width-md: 86%;
    /* tablet */
    --container-width-sm: 90%;
    /*mobile */

    --transition: all 400ms ease;
}

.container.contact__container{
    width:58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option h5{
    color: var(--color-light);
}

.contact__option{
    background-color: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover{
    background-color: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option-icon > h6{
    white-space: normal;
    word-wrap: break-word;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/*==================  FORM ====================*/

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}

/*
====================
Media queries (medium devices)
====================
*/

@media screen and (max-width:1024px) {
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/*
====================
Media queries (small devices)
====================
*/

@media screen and (max-width:600px) {
   .container.contact__container{
        width: var(--container-width-sm);
    }
}